{% extends "base.html" %} {% block content %}
<h1>Bienvenue sur le projet d’insertion de paragraphes</h1>

<p>
  Ce site vous permet de découvrir notre modèle capable de prédire la meilleure
  position pour insérer un nouveau paragraphe dans un texte.
</p>

<p>Vous pouvez :</p>
<ul>
  <li>
    Explorer nos <a href="/donnees">données</a> utilisées pour l’entraînement.
  </li>
  <li>Consulter nos <a href="/scripts">scripts et documentation</a>.</li>
  <li>Visualiser notre <a href="/pipeline">pipeline</a>.</li>
  <li>
    Essayer notre modèle sur votre propre texte dans
    <a href="/essais">Essayer le modèle</a>.
  </li>
</ul>

{% endblock %}
